<div id="form-wrapper">
  <form [formGroup]="amountForm">
  <div class="input-group">
      <input (input)="handleAmountChange($event.target.value)" type="number" formControlName="amountInput" class="form-control" min="0">
      <app-form-control-dropdown formControlName="currencyDropdown" [options]="currencies"></app-form-control-dropdown>
  </div>
  <app-validation-error *ngIf="displayValidationErrorsByName('amountInput')" [errors]="amountForm.get('amountInput').errors"></app-validation-error>
</form>
</div>
