<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
      <h4 class="card-header">Currencies exmachina converter</h4>
      <div class="card-body">
        <app-amount-and-currency *ngIf="currencies.length > 0"
          [currencies]="currencies"
          (amountChanged)="sourceAmountChanged($event)"
          #sourceAmountAndCurrency
        ></app-amount-and-currency>
        <app-amount-and-currency *ngIf="currencies.length > 0"
          [currencies]="currencies"
          (amountChanged)="destinationAmountChanged($event)"
          #destinationAmountAndCurrency
          ></app-amount-and-currency>
      </div>
  </div>
</div>
