<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
      <h4 class="card-header">Currencies exmachina converter</h4>
      <div class="card-body">
        <form [formGroup]="currenciesConverterForm">
        <app-amount-and-currency
          [currencies]="currencies"
          formControlName="sourceAmountAndCurrencyControl"
        ></app-amount-and-currency>
        <app-amount-and-currency
          [currencies]="currencies"
          formControlName="destinationAmountAndCurrencyControl"
          ></app-amount-and-currency>
        </form>
      </div>
  </div>
</div>
